{% extends 'base.html.twig' %}

{% block title %}Reset your {% endblock %}

{% block body %}
    <h1>Réinitialisez votre mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Confirmer</button>
    {{ form_end(resetForm) }}
{% endblock %}
