{% extends 'base.html.twig' %}

{% block title %}Back-Office{% endblock %}

{% block h1 %}Back-Office{% endblock %}
{% block body %}

<a href="{{ path('app_pays_new') }}">Ajoutez des pays</a>
<a href="{{ path('app_pays_index') }}">Voir les pays</a>
<a href="{{ path('ajoutez_ville') }}">Ajoutez une ville</a>
{% endblock %}
