{% extends "base.html.twig" %}

{% block h1 %}Pays{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
      {% for pays in pays %}
     
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ asset('/uploads/' ~ pays.paysImages|first.name)}}" class="card-img-top" alt="..." style="height: 200px; width: 100%; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">{{ pays.nom }}</h5>
                    <p class="card-text">{{ pays.description}}</p>
                    <a href="{{ path('view_pays', {'id': pays.id})}}" class="btn btn-primary">Voir plus</a>
                </div>
            </div>
        </div>
      {% endfor %}
      
    </div>
</div>
{% endblock %}


