{% extends 'base.html.twig' %}

{% block title %}New Pays{% endblock %}

{% block body %}
    <h1>Create new Pays</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ include('pays/_form.html.twig') }}

    <a href="{{ path('app_pays_index') }}">back to list</a>
{% endblock %}
