{% extends "base.html.twig" %}

{% block h1 %}Mon Compte{% endblock %}

{% block body %}


        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center" style="height: 100vh">
                <a href="{{ path('connexion_securite') }}">Connexion et sécuriter</a>
                <a href="#">Mes Reservation</a>
            </div>
        </div>  




{% endblock %}